@media (max-width: 640px) {
   /* HEADER */

   .header {
      flex-direction: column;
      height: 500px;
      background-image: url("../img/banner-mobile.jpg");
   }
   .header-menu {
      flex-direction: column-reverse;
   }
   .logo-img {
      margin: 0 auto;
      margin-top: 20px;
      width: 250px;
   }
   .menu-links-container {
      position: relative;
      width: 95%;
      height: 100px;
   }
   .menu-links-container::before {
      content: " ";
      border-bottom: 5px solid white;
      border-top: 5px solid white;
      width: 40px;
      height: 20px;
      top: 50px;
      right: 40px;
      position: absolute;
   }
   .menu-links-container::after {
      content: " ";
      border-bottom: 5px solid white;
      width: 40px;
      top: 62px;
      right: 40px;
      position: absolute;
   }
   .menu-links-item {
      visibility: hidden;
   }
   .title-block {
      margin: 40px 20px 20px 20px;
      height: 100%;
      align-items: start;
   }
   .main-title {
      margin: 40px 20px 20px 20px;
      font-size: 2.2rem;
   }

   /* TRAND ARTICLE */

   .trands-article {
      width: 100%;
      height: auto;
   }
   .trands-title {
      font-size: 1.4rem;
      margin-bottom: 45px;
   }
   .trand-container {
      width: 100%;
      height: 280px;
      margin: 2px 0;
   }
   .trand-value {
      width: 100%;
      padding: 20px;
      margin: 20px;
      border: 3px solid rgba(181, 159, 91, 0.5);
   }
   .trands-link {
      font-size: 1rem;
      margin-right: 10px;
   }
   .trand-value-text {
      font-size: 1.1rem;
   }

   /* MAIN CONTAINER */

   .main-content {
      display: flex;
      flex-direction: column;
   }
   .article-news {
      width: 100%;
   }
   .news-section {
      height: auto;
      margin: 20px 0 30px;
      display: flex;
      flex-direction: column;
   }
   .img-news {
      margin: 0;
      height: 300px;
      width: 100%;
   }
   .news-container {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 100%;
   }
   .news-links-item {
      margin-top: 15px;
   }
   .news-link {
      font-size: 1rem;
   }
   .author {
      font-size: 15px;
   }
   .update-data {
      font-size: 15px;
   }
   .news-text {
      font-size: 1rem;
   }

   /* SIDEBAR */

   .side-bar {
      margin: 30px 0;
      width: 100%;
   }
   .topics-title {
      font-size: 1.2rem;
   }
   .newpost-item {
      height: 120px;
      margin: 30px 0;
      justify-content: space-between;
   }
   .img-newpost {
      margin: 0;
      margin-right: 10px;
      height: 100%;
      width: 130px;
   }
   .newpost-text-box {
      margin: 0;
      width: 100%;
   }
   .sidebar-data {
      font-size: 1rem;
   }
   .newpost-text {
      margin: 10px 0;
      font-size: 1rem;
   }
   .search-form {
      margin: 30px 0;
      height: 52px;
   }
   .btn-search-img {
      width: 20px;
      height: 20px;
   }

   /* Mailing-container */
   .subscribe-container {
      margin: 30px 0;
   }
   .subscribe-form {
      height: 52px;
   }
   .btn-subscribe {
      height: 52px;
   }

   /* Tags-container  */

   .tag-items-container {
      margin-top: 30px;
      justify-content: space-between;
   }
   .tag-item {
      font-size: 16px;
      margin: 4px 2px;
      padding: 3px 8px;
   }

   /* Topics-container  */

   .topics-item {
      font-size: 1rem;
   }
   .topic-count {
      font-size: 14px;
   }

   /* SHOP ARTICLE */

   .shop-article {
      width: 100%;
      margin-top: 20px;
      flex-direction: column;
   }
   .shop-item {
      width: 100%;
   }
   .shop-item-img {
      width: 70%;
      height: 320px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
   }
   .pillows-sofa {
      background-image: url("../img/shop-item-mobile1.jpg");
   }
   .bunny-dole {
      background-image: url("../img/shop-item-mobile2.jpg");
   }
   .hexagon-frame {
      background-image: url("../img/shop-item-mobile3.jpg");
   }
   .shop-item-contain {
      width: 80%;
   }
}
